#container{
    background-color: black;
    padding: 10px;
    justify-content: center;
    justify-content: space-between;
    margin-top: 250px;
    width: 15%;
}
body{
    background-color: wheat;
    justify-content: center;
    display: flex;
    border: none;
}
.onehour{
    border: 3px solid black;
    background-color: red;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}
.twohour{
    border: 3px solid black;
    background-color: red;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}
.threehour{
    border: 3px solid black;
    background-color: red;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}
.fourhour{
    border: 3px solid black;
    background-color: red;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}
.fivehour{
    border: 3px solid black;
    background-color: red;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}
button{
    color: white;
    justify-content: center;
    background-color: transparent; 
    padding-left: 150px;
    border: none;
}
input{
    background-color: transparent;
    box-shadow: 10px;
    color: white;
    border: none;
    padding-left: 100px;
}